body {
    font-family: var(--app-default);
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

form {
    font-family: var(--app-default);
    max-width: 400px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    font-family: var(--app-default);
    display: block;
    margin-bottom: 8px;
}

input {
    font-family: var(--app-default);
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    font-family: var(--app-default);
    background-color: #4caf50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    font-family: var(--app-default);
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #4caf50;
    color: white;
}

tr:hover {
    background-color: #f5f5f5;
}

.res-content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.res-date-picker {
    max-width: 300px;
    padding: 16px;
    background-color: #ffffff;
    margin: 50px auto;
    box-shadow: 0px 0px 10px 0px grey;
}

.res-date-picker h1 {
    text-align: center;
    margin-bottom: 24px;
}

.res-date-picker label {
    display: block;
    margin-bottom: 4px;
}

.res-date-picker input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

.res-date-picker button {
    width: 100%;
    padding: 8px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.res-date-picker button:hover {
    background-color: #0056b3;
}

.res-date-picker a {
    color: #007BFF;
    text-decoration: none;
}

.res-date-picker a:hover {
    text-decoration: underline;
}